<html>
    <head>
        <style>
            body {
                background-color: limegreen
            }
        </style>
    </head>
    <body>
        <h1>You have requested the student name : <%= name %></h1>
        <p>id : <%= id %></p>
        <h1>Subjects</h1>
        <ul>
         <% subjects.forEach(function(item) { %>
           <li> <%= item %></li>
         <%});%>
        </ul>
    </body>
</html>